menuconfig MTD_SPI_NAND
	bool "SPI NAND device Support"
	depends on DM_MTD && DM_SPI
	select MTD_NAND_CORE
	select SPI_MEM
	help
	  This is the framework for the SPI NAND device drivers.

if MTD_SPI_NAND

config SPI_NAND_GIGADEVICE
	bool "GIGADEVICE SPI flash support"
	default y
	help
	  Add support for various GIGADEVICE SPI Nand flash chips

config SPI_NAND_MACRONIX
	bool "MACRONIX SPI flash support"
	default y
	help
	  Add support for various MACRONIX SPI Nand flash chips

config SPI_NAND_MICRON
	bool "MICRON SPI flash support"
	default y
	help
	  Add support for various MICRON SPI Nand flash chips

config SPI_NAND_TOSHIBA
	bool "TOSHIBA SPI flash support"
	default y
	help
	  Add support for various TOSHIBA SPI Nand flash chips

config SPI_NAND_WINBOND
	bool "WINBOND SPI flash support"
	default y
	help
	  Add support for various WINBOND SPI Nand flash chips

if SPI_NAND_WINBOND

config SPI_NAND_WINBOND_CONT_READ
	bool "WINBOND SPI flash continuous read support"
	default n
	help
	 Add support for WINBOND SPI Nand flash chips cont read.

endif

config SPI_NAND_DOSILICON
	bool "DOSILICON SPI flash support"
	default y
	help
	  Add support for various DOSILICON SPI Nand flash chips

config SPI_NAND_ESMT
	bool "ESMT SPI flash support"
	default y
	select SPI_NAND_MICRON
	help
	  Add support for various ESMT SPI Nand flash chips

config SPI_NAND_XINCUN
	bool "XINCUN SPI flash support"
	default y
	help
	  Add support for various XINCUN SPI Nand flash chips

config SPI_NAND_XTX
	bool "XTX SPI flash support"
	default y
	select SPI_NAND_MICRON
	help
	  Add support for various XTX SPI Nand flash chips

config SPI_NAND_HYF
	bool "HYF SPI flash support"
	default y
	help
	  Add support for various HYF SPI Nand flash chips

config SPI_NAND_FMSH
	bool "FMSH SPI flash support"
	default y
	help
	  Add support for various FMSH SPI Nand flash chips

config SPI_NAND_FORESEE
	bool "FORESEE SPI flash support"
	default y
	help
	  Add support for various FORESEE SPI Nand flash chips

config SPI_NAND_BIWIN
	bool "BIWIN SPI flash support"
	default y
	help
	  Add support for various BIWIN SPI Nand flash chips

config SPI_NAND_ETRON
	bool "ETRON SPI flash support"
	default y
	help
	  Add support for various ETRON SPI Nand flash chips

config SPI_NAND_JSC
	bool "JSC SPI flash support"
	default y
	help
	  Add support for various JSC SPI Nand flash chips

config SPI_NAND_SILICONGO
	bool "SILICONGO SPI flash support"
	default y
	help
	  Add support for various SILICONGO SPI Nand flash chips

config SPI_NAND_UNIM
	bool "UNIM SPI flash support"
	default y
	help
	  Add support for various UNIM SPI Nand flash chips

config SPI_NAND_SKYHIGH
	bool "SKYHIGH SPI flash support"
	default y
	help
	  Add support for various SKYHIGH SPI Nand flash chips

config SPI_NAND_GSTO
	bool "GSTO SPI flash support"
	default y
	help
	  Add support for various GSTO SPI Nand flash chips

config SPI_NAND_ZBIT
	bool "ZBIT SPI flash support"
	default y
	help
	  Add support for various ZBIT SPI Nand flash chips

config SPI_NAND_HIKSEMI
	bool "HIKSEMI SPI flash support"
	default y
	help
	  Add support for various HIKSEMI SPI Nand flash chips

config SPI_NAND_KINGSTON
	bool "KINGSTON SPI flash support"
	default y if !ROCKCHIP_RV1106
	help
	  Add support for various KINGSTON SPI Nand flash chips

config SPI_NAND_ISSI
	bool "ISSI SPI flash support"
	default y if !ROCKCHIP_RV1106
	help
	  Add support for various ISSI SPI Nand flash chips

config SPI_NAND_TITAN
	bool "TITAN SPI flash support"
	default y if !ROCKCHIP_RV1106
	help
	  Add support for various TITAN SPI Nand flash chips

config SPI_NAND_MK
	bool "MK SPI flash support"
	default y if !ROCKCHIP_RV1106
	help
	  Add support for various MK SPI Nand flash chips

config SPI_NAND_CHUCUN
	bool "CHUCUN SPI flash support"
	default y if !ROCKCHIP_RV1106
	help
	  Add support for various CHUCUN SPI Nand flash chips

config SPI_NAND_ICTHINK
	bool "IC-THINK SPI flash support"
	default y if !ROCKCHIP_RV1106
	help
	  Add support for various IC-THINK SPI Nand flash chips

config SPI_NAND_UNILC
	bool "UNILC SPI flash support"
	default y if !ROCKCHIP_RV1106
	help
	  Add support for various UNILC SPI Nand flash chips

config SPI_NAND_CONT_READ
	bool "Enable SPI flash continuous read support"
	default n
	help
	 Add support for SPI Nand flash chips cont read.
endif
