if TARGET_VIRTUAL_RK3288

config SYS_BOARD
	default "virtual_rk3288"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "virtual_rk3288"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
