// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 */

#include <dt-bindings/input/input.h>
#include "rockchip-u-boot.dtsi"

/ {
	aliases {
		mmc0 = &sdhci;
		mmc1 = &sdmmc0;
	};

	chosen {
		u-boot,spl-boot-order = "same-as-spl", &sdhci, &spi_nand, &spi_nor;
	};

	dmc {
		compatible = "rockchip,rk3572-dmc";
		bootph-all;
		status = "okay";
	};

	secure-otp@2a400000 {
		bootph-all;
		compatible = "rockchip,rk3572-secure-otp";
		mask_addr = <0x2a420000>;
		reg = <0x0 0x2a400000 0x0 0x4000>;
	};
};

&combphy0_psu {
	bootph-all;
	status = "okay";
};

&crypto {
	bootph-all;
	status = "okay";
};

&gpio0 {
	bootph-all;
	status = "okay";
};

&gpio1 {
	bootph-all;
	status = "okay";
};

&gpio2 {
	bootph-all;
	status = "okay";
};

&gpio3 {
	bootph-all;
	status = "okay";
};

&gpio4 {
	bootph-all;
	status = "okay";
};

&ioc_grf {
	bootph-all;
	status = "okay";
};

&cru {
	bootph-all;
	status = "okay";
};

&psci {
	bootph-all;
	status = "okay";
};

&php_grf {
	bootph-all;
	status = "okay";
};

&pinctrl {
	bootph-all;
	status = "okay";
};

&pipe_phy0_grf {
	bootph-all;
	status = "okay";
};

&pcfg_pull_up {
	bootph-all;
	status = "okay";
};

&pcfg_pull_none {
	bootph-all;
	status = "okay";
};

&saradc {
	bootph-all;
	status = "okay";
};

&sdhci {
	bootph-all;
	bus-width = <8>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	no-sd;
	no-sdio;
	non-removable;
	u-boot,spl-fifo-mode;
	status = "okay";
};

&fspi0 {
	bootph-all;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	spi_nand: flash@0 {
		bootph-all;
		compatible = "spi-nand";
		reg = <0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <80000000>;
	};

	spi_nor: flash@1 {
		bootph-all;
		compatible = "jedec,spi-nor";
		label = "sfc_nor";
		reg = <0>;
		spi-tx-bus-width = <8>;
		spi-rx-bus-width = <8>;
		spi-max-frequency = <80000000>;
	};
};

&rng {
	bootph-all;
	status = "okay";
};

&usb2phy_grf {
	bootph-all;
	status = "okay";
};

&u2phy0 {
	bootph-all;
	status = "okay";
};

&u2phy0_otg {
	bootph-all;
	status = "okay";
};

&ufs {
	bootph-all;
	status = "okay";
};

&optee {
	bootph-all;
	status = "okay";
};
