// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 */

#include <dt-bindings/input/input.h>
#include "rockchip-u-boot.dtsi"

/ {
	aliases {
		mmc0 = &sdhci;
		mmc1 = &sdmmc0;
	};

	chosen {
		u-boot,spl-boot-order = &sdhci, &spi_nand, &spi_nor, &nfc;
	};

	dmc {
		compatible = "rockchip,rk3538-dmc";
		bootph-all;
		status = "okay";
	};

	crypto_s: crypto_s@fd940000 {
		compatible = "rockchip,crypto-ce";
		reg = <0xfd940000 0x2000>;
		secure;
		interrupts = <GIC_SPI 170 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cru ACLK_NSRKCE>, <&cru HCLK_NS_RKCE>, <&cru CLK_PKA_NSRKCE>;
		clock-names = "aclk", "hclk", "pka";
		resets = <&cru SRST_HRESETN_NS_RKCE>;
		reset-names = "crypto-rst";
		status = "disabled";
	};
};

&crypto {
	bootph-all;
	status = "okay";
};

&crypto_s {
	bootph-all;
	status = "okay";
};

&gpio0 {
	bootph-all;
	status = "okay";
};

&gpio1 {
	bootph-all;
	status = "okay";
};

&gpio2 {
	bootph-all;
	status = "okay";
};

&gpio3 {
	bootph-all;
	status = "okay";
};

&gpio4 {
	bootph-all;
	status = "okay";
};

&ioc_grf {
	bootph-all;
	status = "okay";
};

&cru {
	bootph-all;
	status = "okay";
};

&psci {
	bootph-all;
	status = "okay";
};

&pinctrl {
	bootph-all;
	status = "okay";
};

&pcfg_pull_up_drv_level_2_75 {
	bootph-all;
	status = "okay";
};

&pcfg_pull_up {
	bootph-all;
	status = "okay";
};

&pcfg_pull_none {
	bootph-all;
	status = "okay";
};

&saradc {
	bootph-all;
	status = "okay";
};

&sdhci {
	bootph-all;
	bus-width = <8>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	no-sd;
	no-sdio;
	non-removable;
	u-boot,spl-fifo-mode;
	status = "okay";
};

&fspi {
	bootph-all;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	spi_nand: flash@0 {
		bootph-all;
		compatible = "spi-nand";
		reg = <0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <80000000>;
	};

	spi_nor: flash@1 {
		bootph-all;
		compatible = "jedec,spi-nor";
		label = "sfc_nor";
		reg = <0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <80000000>;
	};
};

&nfc {
	compatible = "rockchip,rk-nandc";
	bootph-all;
	status = "okay";
	nand: nand@0 {
		bootph-all;
		reg = <0>;
		label = "rk-nand";
		nand-bus-width = <8>;
		nand-ecc-mode = "hw";
		nand-ecc-step-size = <1024>;
		nand-ecc-strength = <16>;
		nand-is-boot-medium;
		rockchip,boot-blks = <8>;
		rockchip,boot-ecc-strength = <16>;
	};
};

&rng {
	bootph-all;
	status = "okay";
};

&optee {
	bootph-all;
	status = "okay";
};

&otp {
	bootph-all;
	status = "okay";
};

&u2phy_otg {
	bootph-all;
	status = "okay";
};

&usb2phy {
	bootph-all;
	status = "okay";
};

&vo_grf {
	bootph-all;
	status = "okay";
};

&scmi {
	bootph-all;
};

&scmi_clk {
	bootph-all;
};

&scmi_shmem {
	bootph-all;
};
