CONFIG_DICE=y
CONFIG_SPL_DICE=y
CONFIG_HEXDUMP=y
CONFIG_SPL_HEXDUMP=y
CONFIG_SHA512=y
CONFIG_SPL_SHA512=y
# CONFIG_MD5 is not set
# CONFIG_SPL_USE_TINY_PRINTF is not set
CONFIG_MBEDTLS_LIB=y
CONFIG_HKDF_MBEDTLS=y
# CONFIG_MBEDTLS_LIB_X509 is not set
CONFIG_SPL_MBEDTLS_LIB=y
CONFIG_SPL_HKDF_MBEDTLS=y
# CONFIG_SPL_MBEDTLS_LIB_X509 is not set
