CONFIG_BOOTEFI_HELLO_COMPILE=y
CONFIG_BOOTEFI_TESTAPP_COMPILE=y
CONFIG_BOOTM_EFI=y
CONFIG_BOOTMETH_EFI_BOOTMGR=y
CONFIG_BOOTMETH_EFILOADER=y
CONFIG_CHARSET=y
CONFIG_CMD_BOOTEFI_BINARY=y
CONFIG_CMD_BOOTEFI_BOOTMGR=y
# CONFIG_CMD_BOOTEFI_HELLO is not set
# CONFIG_CMD_BOOTEFI_SELFTEST is not set
CONFIG_CMD_BOOTEFI=y
CONFIG_CMD_BOOT_GBL=y
CONFIG_CMD_EFICONFIG=y
# CONFIG_CMD_EFIDEBUG is not set
# CONFIG_CMD_NVEDIT_EFI is not set
# CONFIG_CMD_SMBIOS is not set
CONFIG_DM_EVENT=y
CONFIG_EFI_BINARY_EXEC=y
CONFIG_EFI_BOOTMGR=y
CONFIG_EFI_CAPSULE_MAX=15
# CONFIG_EFI_CAPSULE_ON_DISK is not set
CONFIG_EFI_DEVICE_PATH_TO_TEXT=y
CONFIG_EFI_DEVICE_PATH_UTIL=y
CONFIG_EFI_DT_FIXUP=y
CONFIG_EFI_EBBR_2_1_CONFORMANCE=y
CONFIG_EFI_ECPT=y
CONFIG_EFI_HAVE_RUNTIME_RESET=y
# CONFIG_EFI_HTTP_BOOT is not set
# CONFIG_EFI_IP4_CONFIG2_PROTOCOL is not set
# CONFIG_EFI_LOADER_BOUNCE_BUFFER is not set
CONFIG_EFI_LOADER_HII=y
CONFIG_EFI_LOADER=y
CONFIG_EFI_LOAD_FILE2_INITRD=y
# CONFIG_EFI_MM_COMM_TEE is not set
CONFIG_EFI_PLATFORM_LANG_CODES="en-US"
CONFIG_EFI_RNG_PROTOCOL=y
CONFIG_EFI_RT_VOLATILE_STORE=y
# CONFIG_EFI_RUNTIME_UPDATE_CAPSULE is not set
# CONFIG_EFI_SCROLL_ON_CLEAR_SCREEN is not set
CONFIG_EFI_TIMESTAMP_PROTOCOL=y
CONFIG_EFI_UNICODE_CAPITALIZATION=y
CONFIG_EFI_UNICODE_COLLATION_PROTOCOL2=y
CONFIG_EFI_VAR_BUF_SIZE=131072
CONFIG_EFI_VARIABLE_FILE_STORE=y
# CONFIG_EFI_VARIABLE_NO_STORE is not set
# CONFIG_EFI_VARIABLES_PRESEED is not set
CONFIG_EVENT_DYNAMIC=y
CONFIG_GBL_EFI_AVB_PROTOCOL=y
CONFIG_GBL_EFI_BOOT_CONTROL_PROTOCOL=y
CONFIG_GBL_EFI_BOOT_MEMORY_PROTOCOL=y
CONFIG_GBL_EFI_FASTBOOT_PROTOCOL=y
CONFIG_GBL_EFI_FASTBOOT_TRANSPORT_PROTOCOL_USB=y
CONFIG_GBL_EFI_FASTBOOT_TRANSPORT_PROTOCOL=y
# CONFIG_GBL_EFI_FW_API_LEVEL is not set
CONFIG_GBL_EFI_OS_CONFIGURATION_PROTOCOL=y
CONFIG_GBL=y
CONFIG_GCC_VERSION=100301
# CONFIG_GENERATE_SMBIOS_TABLE_VERBOSE is not set
CONFIG_GENERATE_SMBIOS_TABLE=y
CONFIG_SMBIOS=y
CONFIG_TOOLS_MKEFICAPSULE=y
# CONFIG_USE_ARCH_MEMCPY is not set
# CONFIG_USE_ARCH_MEMSET is not set
CONFIG_VIDEO_ANSI=y
