CONFIG_SYS_EXTRA_OPTIONS="RKCHIP_RK3368H,RKCHIP_RK3368,PRODUCT_MID,NORMAL_WORLD,SECOND_LEVEL_BOOTLOADER"
CONFIG_ARM=y
CONFIG_ROCKCHIP_ARCH64=y
CONFIG_PLAT_RK33XX=y
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
