CONFIG_BASE_DEFCONFIG="rk3506_defconfig"
# CONFIG_ADC_KEY is not set
# CONFIG_CMD_ATAGS is not set
# CONFIG_CMD_DM is not set
# CONFIG_CMD_FDT is not set
# CONFIG_CMD_GO is not set
# CONFIG_CMD_MEMORY is not set
# CONFIG_CMD_PINMUX is not set
# CONFIG_DISPLAY_BOARDINFO is not set
# CONFIG_FIT_PRINT is not set
# CONFIG_ANDROID_BOOTLOADER is not set
# CONFIG_ANDROID_BOOT_IMAGE is not set
# CONFIG_ANDROID_BOOT_IMAGE_HASH is not set
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_CMD_MTD=y
# CONFIG_CMD_BOOT_ANDROID is not set
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_BOOTZ is not set
# CONFIG_CMD_DHCP is not set
# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_EXT2 is not set
# CONFIG_CMD_EXT4 is not set
# CONFIG_CMD_FAT is not set
# CONFIG_CMD_FS_GENERIC is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_MII is not set
# CONFIG_CMD_MISC is not set
# CONFIG_CMD_MMC is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_PART is not set
# CONFIG_CMD_PING is not set
# CONFIG_CMD_PMIC is not set
# CONFIG_CMD_PXE is not set
# CONFIG_CMD_SCRIPT_UPDATE is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_TFTP_BOOTM is not set
# CONFIG_CMD_TFTP_FLASH is not set
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_SKIP_INIT=y
CONFIG_DEFAULT_DEVICE_TREE="rk3506-evb-tb"
CONFIG_OF_LIST="rk3506-evb-tb"
# CONFIG_DISTRO_DEFAULTS is not set
# CONFIG_DM_CRYPTO is not set
# CONFIG_DM_ETH is not set
# CONFIG_DM_ETH_PHY is not set
# CONFIG_DM_KEY is not set
# CONFIG_DM_MMC is not set
# CONFIG_DM_PMIC is not set
# CONFIG_DM_REGULATOR_FIXED is not set
# CONFIG_DM_REGULATOR_GPIO is not set
# CONFIG_DM_RNG is not set
# CONFIG_DM_VIDEO is not set
# CONFIG_DISPLAY is not set
# CONFIG_DOS_PARTITION is not set
# CONFIG_DRM_ROCKCHIP is not set
# CONFIG_DRM_ROCKCHIP_DW_MIPI_DSI is not set
# CONFIG_DRM_ROCKCHIP_INNO_MIPI_PHY is not set
# CONFIG_DRM_ROCKCHIP_RGB is not set
# CONFIG_DWC_ETH_QOS is not set
# CONFIG_DWC_ETH_QOS_FULL is not set
# CONFIG_ERRNO_STR is not set
# CONFIG_FAT_WRITE is not set
# CONFIG_FS_FAT is not set
CONFIG_FIT=y
# CONFIG_FIT_HW_CRYPTO is not set
# CONFIG_FIT_IMAGE_POST_PROCESS is not set
# CONFIG_GMAC_ROCKCHIP is not set
# CONFIG_HUSH_PARSER is not set
# CONFIG_ISO_PARTITION is not set
CONFIG_LIB_RAND=y
# CONFIG_LZ4 is not set
# CONFIG_LZMA is not set
# CONFIG_MENU is not set
# CONFIG_MISC is not set
# CONFIG_MMC is not set
# CONFIG_MMC_DW is not set
# CONFIG_MMC_DW_ROCKCHIP is not set
CONFIG_MTD=y
CONFIG_MTD_BLK=y
CONFIG_MTD_DEVICE=y
# CONFIG_MTD_NAND_BBT_USING_FLASH is not set
# CONFIG_MTD_SPI_NAND is not set
# CONFIG_NET is not set
# CONFIG_NETDEVICES is not set
# CONFIG_PHY_ROCKCHIP_INNO_USB2 is not set
# CONFIG_PHY is not set
# CONFIG_PHYLIB is not set
# CONFIG_PARTITION_UUIDS is not set
# CONFIG_SPL_PARTITION_UUIDS is not set
# CONFIG_PMIC_RK801 is not set
# CONFIG_PWM_ROCKCHIP is not set
# CONFIG_RANDOM_UUID is not set
# CONFIG_REGEX is not set
# CONFIG_REGULATOR_PWM is not set
# CONFIG_REGULATOR_RK801 is not set
# CONFIG_ROCKCHIP_CRYPTO_V2 is not set
# CONFIG_ROCKCHIP_OTP is not set
# CONFIG_ROCKCHIP_VENDOR_PARTITION is not set
# CONFIG_RSA is not set
# CONFIG_SARADC_ROCKCHIP is not set
# CONFIG_SARADC_ROCKCHIP_V2 is not set
# CONFIG_SPL_ADC_KEY is not set
# CONFIG_SPL_ADC_SUPPORT is not set
# CONFIG_SPL_AB is not set
CONFIG_SPL_FIT_IMAGE_KB=384
CONFIG_SPL_FIT_IMAGE_MULTIPLE=1
# CONFIG_SPL_HASH_SUPPORT is not set
# CONFIG_SPL_ISO_PARTITION is not set
CONFIG_SPL_KERNEL_BOOT=y
# CONFIG_SPL_KERNEL_BOOT_PREBUILT is not set
# CONFIG_SPL_PMIC_CHILDREN is not set
# CONFIG_SPL_RSA is not set
# CONFIG_SPL_SHA256_SUPPORT is not set
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_MTD=y
# CONFIG_SPI_FLASH_SFDP_SUPPORT is not set
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_XMC=y
# CONFIG_SUPPORT_EMMC_RPMB is not set
# CONFIG_SYS_I2C_ROCKCHIP is not set
CONFIG_SPL_SYS_MALLOC_F_LEN=0x80000
CONFIG_SYS_MALLOC_F_LEN=0x80000
# CONFIG_SYS_WHITE_ON_BLACK is not set
# CONFIG_TPL is not set
# CONFIG_USB is not set
# CONFIG_USB_GADGET is not set
# CONFIG_USB_GADGET_DWC2_OTG is not set
# CONFIG_USB_GADGET_DOWNLOAD is not set
# CONFIG_USB_GADGET_MANUFACTURER="Rockchip" is not set
# CONFIG_USB_GADGET_VENDOR_NUM=0x2207 is not set
# CONFIG_USB_GADGET_PRODUCT_NUM=0x350f is not set
# CONFIG_USB_GADGET_VBUS_DRAW=500 is not set
# CONFIG_VIDEO is not set
# CONFIG_VIDEO_BRIDGE is not set
