CONFIG_BASE_DEFCONFIG="rk3576_defconfig"
# CONFIG_CMD_MTD_BLK is not set
CONFIG_DEBUG_UART_BASE=0x2ad80000
# CONFIG_DM_CHARGE_DISPLAY is not set
# CONFIG_DM_CRYPTO is not set
# CONFIG_DM_ETH is not set
# CONFIG_DM_ETH_PHY is not set
# CONFIG_DM_FUEL_GAUGE is not set
CONFIG_DM_MAILBOX=y
# CONFIG_DM_POWER_DELIVERY is not set
CONFIG_FASTBOOT_BUF_ADDR=0x140c00800
# CONFIG_IRQ is not set
CONFIG_LOADER_INI="RK3576MINIALL_MOS.ini"
CONFIG_MOS_BOOTDEV_NAME="/ufs@2a2d0000"
# CONFIG_MOS_BOOTDEV_SHARED is not set
CONFIG_MOS_SECONDARY_SPL_BACKUP_ADDR=0x41840000
CONFIG_MOS_SECONDARY=y
CONFIG_MOS_SUPPORT=y
CONFIG_MOS_SYSCFG_ADDR=0x41400000
# CONFIG_MTD_DEVICE is not set
# CONFIG_MTD is not set
# CONFIG_MTD_NAND_BBT_USING_FLASH is not set
# CONFIG_NETDEVICES is not set
# CONFIG_PHYLIB is not set
CONFIG_POWER_DOMAIN=y
CONFIG_ROCKCHIP_BOOT_MODE_REG=0x26024050
CONFIG_ROCKCHIP_CLK_DCLK_MOS=y
CONFIG_ROCKCHIP_MBOX=y
CONFIG_SCMI_POWER_DOMAIN=y
# CONFIG_SPI_FLASH is not set
# CONFIG_SPL_DM_CRYPTO is not set
CONFIG_SPL_FIT_IMAGE_KB=4096
CONFIG_SPL_FIT_IMAGE_MULTIPLE=1
# CONFIG_SPL_MTD_SUPPORT is not set
# CONFIG_SPL_SPI_FLASH_SUPPORT is not set
# CONFIG_SPL_SPI_SUPPORT is not set
CONFIG_SPL_SYS_MALLOC_F_LEN=0x200000
CONFIG_TRUST_INI="RK3576TRUST_MOS_SECONDARY.ini"
CONFIG_SPL_SPINLOCK_SUPPORT=y
CONFIG_DM_HWSPINLOCK=y
CONFIG_SPL_DM_HWSPINLOCK=y
CONFIG_HWSPINLOCK_ROCKCHIP=y
CONFIG_SPL_HWSPINLOCK_ROCKCHIP=y
CONFIG_RESET_SCMI=y