CONFIG_BASE_DEFCONFIG="rk3572_defconfig"
CONFIG_LOADER_INI="RK3572MINIALL_ULTRA.ini"
CONFIG_ROCKCHIP_EBC_TCON=y
CONFIG_ROCKCHIP_EBOOK_DISPLAY=y
CONFIG_ROCKCHIP_EBOOK=y
CONFIG_PMIC_SY7636A=y
CONFIG_REGULATOR_SY7636A=y
CONFIG_DM_THERMAL=y
CONFIG_SY7636A_THERMAL=y
CONFIG_ROCKCHIP_EBC_PMIC_SY7636A=y
CONFIG_PMIC_FP9931=y
CONFIG_REGULATOR_FP9931=y
CONFIG_FP9931_THERMAL=y
CONFIG_ROCKCHIP_EBC_PMIC_FP9931=y
