CONFIG_ANDROID_AB=y
CONFIG_BASE_DEFCONFIG="rk3576-mos-primary.config"
CONFIG_BLK_READ_PREPARE=y
# CONFIG_CMD_ANDROID_AB_SELECT is not set
CONFIG_MOS_BOOTDEV_SHARED_ADDR=0x42b00000
CONFIG_MOS_BOOTDEV_SHARED_ARGS_SIZE=0x00018000
CONFIG_MOS_BOOTDEV_SHARED=y
CONFIG_TRUST_INI="RK3576TRUST_MOS_SBD_PRIMARY_EVB_V10_GPUPV.ini"
CONFIG_VIRTUAL_DISK=y
