CONFIG_ANDROID_AB=y
CONFIG_BASE_DEFCONFIG="rk3576-mos-secondary.config"
# CONFIG_CMD_ANDROID_AB_SELECT is not set
# CONFIG_CMD_MMC is not set
# CONFIG_CMD_SCSI is not set
CONFIG_DEBUG_UART_BASE=0x27310000
# CONFIG_DM_MMC is not set
# CONFIG_MMC is not set
CONFIG_MOS_BOOTDEV_SHARED_ADDR=0x42b00000
CONFIG_MOS_BOOTDEV_SHARED_ARGS_SIZE=0x00018000
CONFIG_MOS_BOOTDEV_SHARED=y
CONFIG_NCA9539_GPIO=y
CONFIG_RAMDISK=y
CONFIG_SERDES_DISPLAY_CHIP_MAXIM_MAX96745=y
CONFIG_SERDES_DISPLAY_CHIP_MAXIM_MAX96752=y
CONFIG_SERDES_DISPLAY_CHIP_MAXIM_MAX96755=y
CONFIG_SERDES_DISPLAY_CHIP_MAXIM_MAX96772=y
CONFIG_SERDES_DISPLAY_CHIP_MAXIM_MAX96789=y
CONFIG_SERDES_DISPLAY_CHIP_MAXIM=y
CONFIG_SERDES_DISPLAY_CHIP_NOVO_NCA9539=y
CONFIG_SERDES_DISPLAY_CHIP_NOVO=y
CONFIG_SERDES_DISPLAY_CHIP_ROCKCHIP_RKX111=y
CONFIG_SERDES_DISPLAY_CHIP_ROCKCHIP_RKX121=y
CONFIG_SERDES_DISPLAY_CHIP_ROCKCHIP=y
CONFIG_SERDES_DISPLAY_CHIP_ROHM_BU18RL82=y
CONFIG_SERDES_DISPLAY_CHIP_ROHM_BU18TL82=y
CONFIG_SERDES_DISPLAY_CHIP_ROHM=y
CONFIG_SERDES_DISPLAY=y
CONFIG_SPL_I2C_SUPPORT=y
CONFIG_SPL_RAMDISK=y
# CONFIG_SPL_UFS_SUPPORT is not set
# CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_USE_PARTITION is not set
# CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_USE_SECTOR is not set
# CONFIG_UFS is not set
