if ROCKCHIP_ARCH32

config ROCKCHIP
	bool

choice
	prompt "rockchip platform select"

config PLAT_RK32XX
	bool "rk32xx platform"
	select ROCKCHIP

config PLAT_RK30XX
	bool "rk30xx platform"
	select ROCKCHIP

endchoice


config SYS_CPU
	default "armv7"

config SYS_SOC
	default "rk32xx"

source "board/rockchip/rk32xx/Kconfig"

source "board/rockchip/common/Kconfig"

endif
